@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* src/app/globals.css */

@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/IRANSansWeb/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
       url('/fonts/IRANSansWeb/IRANSansWeb(FaNum)_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  background: var(--background);
  direction: rtl;
  color: var(--foreground);
  font-family: 'IRANSansFaNum', sans-serif;
}

form {
  margin-bottom: 0;
}

input, button, label {
  font-family: inherit;
  text-align: right;
  margin: 10px;
  padding: 2px;
}

